# Ignore Python bytecode files
*.pyc
*.pyo
*.log*
__pycache__/
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/

# Ignore other directories
node_modules/
dist/
work/
/notebooks/archive

# Ignore utils/__pycache__ directory
utils/__pycache__/.nextflow/
.nextflow/

# Ignore data directory
data/

# Ignore large figures
plots/svg/
plots/html/
plots/pdf/