# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/

# Ignore other directories
node_modules/
dist/

# Ignore utils/__pycache__ directory
utils/__pycache__/