process {
    executor = 'local' // Use slurm when running on HPC
    withDocker = true
    container = 'ovlasovets/causal_pipeline:latest'
    cpus = 2
    memory = '4 GB'
}

docker {
    enabled = true
    runOptions = '-v ~/Causal_Sparse_Low_Rank_Microbiome_Tutorial:/container/mount/point'
}

profiles {
    // Default profile (local execution)
    standard {
        process.executor = 'local'
    }

    // HPC profile
    slurm {
        process.executor = 'slurm'
        process.queue = 'normal'
        docker.enabled = true
    }
}